---
apiVersion: kubeadm.k8s.io/v1beta3
kind: ClusterConfiguration
networking:
  serviceSubnet: "$SVC_CIDR"
  podSubnet: "$POD_CIDR"
  dnsDomain: "cluster.local"
kubernetesVersion: "$KUBE_VERSION"
controlPlaneEndpoint: "$CONTROL_PLANE_ENDPOINT"
apiServer:
  extraArgs:
    authorization-mode: "Node,RBAC"
    audit-log-maxage: "30"
    audit-log-maxbackup: "3"
    audit-log-maxsize: "100"
    alsologtostderr: "true"
  certSANs:
  $CERT_SANS
  timeoutForControlPlane: 4m0s
controllerManager:
  extraArgs:
    log-dir: "/var/log/kubernetes"
    alsologtostderr: "true"
    service-cluster-ip-range: "$SVC_CIDR"
    cluster-cidr: "$POD_CIDR"
scheduler:
  extraArgs:
    log-dir: "/var/log/kubernetes"
    alsologtostderr: "true"
imageRepository: "registry.aliyuncs.com/google_containers"
clusterName: "$CLUSTER_NAME"
---
apiVersion: kubelet.config.k8s.io/v1beta1
kind: KubeletConfiguration
args:
  kube-reserved: "cpu=1000m,memory=512Mi"
  eviction-hard: "nodefs.available<10%,nodefs.inodesFree<5%,imagefs.available<10%,memory.available<100Mi"
  pod-infra-container-image: "registry.aliyuncs.com/google_containers/pause:3.8"
  alsologtostderr: "true"
---
apiVersion: kubeproxy.config.k8s.io/v1alpha1
kind: KubeProxyConfiguration
mode: "ipvs"
clusterCIDR: "$POD_CIDR"
